<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poll Simulator</title>
  </head>
  <body>
    <header>
      <h1>Poll Simulator of ID 202012079</h1>
    </header>
    <main>
      <div style="margin-bottom: 10px">
        <a href="<%= baseURL %>/admin" style="margin: 20px">Admin</a>
      </div>
      <div>
        <a href="<%= baseURL %>/voter" style="margin: 20px"> Voter</a>
      </div>
    </main>
  </body>
</html>
